body {
  margin: 0;
  background-color: white;
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ Ｐゴシック", "MS PGothic", IPAPGothic, sans-serif;
}

footer{
  text-align:center;
}

div#menu a{
  text-decoration:none;
}

div#menu li{
  min-height:70px;
  max-width:250px;
}