<div id="sidebar">
  <div class="well">
    <h2>Home</h2>
    <p><a href="/">Japan nanoc Users&#039; Group</a></p>
    <h2>About</h2>
    <p>このサイトは、各種のお知らせをするため及び情報源へのHUBとして設置しています。</p>
  </div>

  <div class="well">
    <h2>公式はこちら</h2>
      <p>本家のnanoc関連サイトです。</p>
        <ul class="">
          <li><a href="http://nanoc.ws/">nanoc</a><br />公式サイト（英語）です。</li>
          <li><a href="https://github.com/nanoc/nanoc">nanoc（GitHub）</a><br />nanocのソースを管理しているリポジトリです。</li>
          <li><a href="https://groups.google.com/forum/?fromgroups#!forum/nanoc">nanoc（Google Group）</a><br />nanocの作者や利用者のコミュニケーションの場です。（英語）</li>
        </ul>
  </div>
</div>
