<%= render('_header') %>
<body>
<div id="wrapper">
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
        <div id="content">
          <div class="post">

            <h2 class="title"><%= @item[:title] %></h2>
            <p class="meta"><span class="date"><%= @item[:created_at] %></span></p>
            <div style="clear: both;">&nbsp;</div>
            <div class="entry">
              <%= yield %>
            </div>
          </div>
          <div style="clear: both;">&nbsp;</div>

        </div>

        <!-- end #content -->

        <%= render('_side') %>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- end #page -->
</div>

<%= render('_footer') %>
</body>
</html>
