<%= render('_header') %>
<body>
<div id="wrapper">
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
        <div id="content">
          <h3 id="news_archives_counter"><%= @item[:title] %></h3>

              <%= yield %>

          <div style="clear: both;">&nbsp;</div>

        </div>

        <!-- end #content -->

        <%= render('_side') %>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- end #page -->
</div>
<%= render('_footer') %>
</body>
</html>
